// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
        unbind "Ctrl h"
        normal {
                bind "Ctrl r" { SwitchToMode "Move"; }
        }
        move {
                bind "Ctrl r" { SwitchToMode "Normal"; }
        }
}
